@import "buttons";
@import "components";

* {
	outline: none;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	font-size: 62.5%;
	overflow: hidden;

	@include flex(stretch, stretch, column);
}

::-webkit-scrollbar {
	width: 8px;
	margin-left: 5px;
	max-height: 3px;
	display: none;
}

/* Track */
::-webkit-scrollbar-track {
	background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #555;
	transition: all 0.3s ease;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

:root {
	scrollbar-color: rgb(210, 210, 210) rgb(46, 54, 69) !important;
	scrollbar-width: thin !important;
}

body {
	flex-grow: 1;
	font-size: 1.5rem;
	padding: 0;
	margin: 0;
	overflow: hidden;
	transition: background-color 0.5s ease;
	background-color: $col-light-bg;
	width: 100%;
	min-height: 100%;
	@include flex(stretch, stretch, column);
}

[data-theme="dark"] body {
	background-color: $col-black-2;
}

#__next {
	flex-grow: 1;
	overflow-x: hidden;

	@include flex(stretch, stretch, column);
}

a {
	color: inherit;
	text-decoration: none;
	margin: 0;
}

button {
	border: 1px solid transparent;
}

.cursor {
	cursor: pointer;
}
