// colors
$col-white: #ffffff;
$col-light-bg: #f8f8fb;
$col-black: #0c0e16;
$col-black-2: #141625;

$col-purple: #7c5dfa;
$col-purple-lte: #9277ff;

$col-navy-blue: #1e2139;
$col-navy-blue-lte: #252945;

$col-red: #ec5757;
$col-red-lte: #ff9797;

$col-grey: #888eb0;
$col-grey-dark: #373b53;
$col-faded-purple: #7e88c3;
$col-ultra-faded-purple: #dfe3fa;

// fonts
$font-default: "League Spartan", sans-serif;
