@import "@/styles/variables";
@import "@/styles/mixins";

.invoice__page {
	width: 100%;
	height: 100%;
}

.invoices__header {
	@include flex(space-between, center, row nowrap);
	position: relative;
	margin-bottom: 20px;

	&__left {
		h3 {
			font-size: 3.6rem;
			color: $col-black;
			font-weight: 700;

			@include respondMax("sm-mobile") {
				font-size: 2.4rem;
			}
		}
	}

	[data-theme="dark"] &__left {
		h3 {
			color: $col-white;
		}
	}

	&__right {
		@include flex(space-between, center, row nowrap);
		gap: 23px;
	}
}

.invoices__filter {
	width: auto;
	position: relative;

	.filter__text {
		font-size: 1.5rem;
		transition: color 0.5s linear;
		color: $col-black;
		cursor: pointer;
		font-weight: 700;
		line-height: 15px;

		span {
			margin-left: 14px;
			transform: rotate(0);
			transition: transform 0.3s ease;

			&:active {
				span {
					transform: rotate("180deg");
				}
			}
		}

		.image__rotate {
			transform: rotate(180deg);
			transition: transform 0.3s ease; /* Add a transition for smooth rotation */
		}
	}
}

[data-theme="dark"] .invoices__filter {
	.filter__text {
		color: $col-white;
	}
}

.filter__div {
	position: absolute;
	bottom: -150px;
	padding: 24px;
	left: -40px;
	@include flex(flex-start, flex-start, column);
	gap: 16px;
	width: 192px;
	height: 131px;
	flex-shrink: 0;
	border-radius: 8px;
	background: $col-white;
	box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
}

[data-theme="dark"] .filter__div {
	background: $col-navy-blue-lte;
}

.invoices__empty {
	width: 100%;
	height: 100%;
	@include flex(center, center, column);
	text-align: center;

	h1 {
		color: $col-black;
		margin-bottom: 24px;
		font-size: 2.4rem;
		font-weight: 700;
		margin-top: 66px;
	}

	small {
		max-width: 200px;
	}
}

[data-theme="dark"] .invoices__empty {
	h1 {
		color: $col-white;
	}
}

.invoices__list {
	width: 100%;
	height: 100%;
	padding-top: 44px;
	padding-bottom: 50px;
	overflow: scroll;

	@include respondMax("tablet") {
		padding-top: 34px;
	}

	@include respondMax("sm-mobile") {
		padding-top: 12px;
	}
}

.single__invoice {
	height: 7.1rem;
	padding: 0 32px;

	@include flex(space-between, center, row nowrap);
	gap: 51px;

	@include respondMax("tablet") {
		gap: 20px;
		padding: 0 24px;
	}

	@include respondMax("sm-mobile") {
		height: 13.4rem;
	}

	&:not(:first-child) {
		margin-top: 17px;
	}

	&_top {
		@include flex(flex-start, center, row);
		gap: 29px;
		flex-shrink: 0;

		& > div {
			p:nth-child(2) {
				margin-top: 9px;
				display: none;

				@include respondMax("sm-mobile") {
					display: block;
				}
			}
		}

		@include respondMax("tablet") {
			gap: 10px;
		}

		@include respondMax("sm-mobile") {
			@include flex(flex-start, flex-start, column);
			gap: 24px;
		}
	}

	&_bottom {
		width: 100%;
		@include flex(space-between, center, row);

		& > p:nth-child(2) {
			display: block;

			@include respondMax("sm-mobile") {
				display: none;
			}
		}

		img {
			display: block;

			@include respondMax("sm-mobile") {
				display: none;
			}
		}

		@include respondMax("sm-mobile") {
			width: auto;
			@include flex(flex-start, flex-start, column);
			gap: 24px;
		}
	}
}

/* INVOICE DETAILS */

.invoice__details {
	width: 100%;
	height: 100%;
	overflow: scroll;

	.action__details {
		@include flex(flex-start, center, row);
		gap: 24px;
		margin-bottom: 35px;
	}

	.actions__card {
		width: 100%;
		height: 88px;
		padding: 0 32px;
		@include flex(space-between, center, row);

		&__left {
			@include flex(flex-start, center, row);
			gap: 20px;

			.statusp {
				color: #858bb2;
				font-size: 1.3rem;
				font-weight: 500;
				line-height: 1.5rem;
			}
		}

		&__right {
			@include flex(flex-start, center, row);
			gap: 8px;
		}
	}

	&__card {
		width: 100%;
		margin-top: 24px;
		min-height: 631px;
		height: auto;
		padding: 5rem;
	}

	.details__card_top {
		@include flex(space-between, flex-start, row nowrap);
	}

	.details__card_bottom {
		margin-top: 20px;
		@include flex(space-between, flex-start, row nowrap);
	}
}

/* INVOICE CRUD */

.invoice__crud {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);

	.crud__card {
		border-radius: 0px 20px 20px 0px;
		width: 100%;
		max-width: 616px;
		height: 100%;
		padding: 5.6rem;
		position: relative;
		z-index: 100;
		background: #fff;
		overflow-y: scroll;
	}

	.crudTitle {
		font-size: 2.4rem;
		font-weight: 700;
		line-height: 3.2rem;
		color: $col-black;
	}

	.section__title {
		margin-top: 4.6rem;
		color: $col-purple;
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 1.5rem;
		margin-bottom: 2.4rem;
	}
}

[data-theme="dark"] .invoice__crud {
	.crud__card {
		background: $col-black-2;
	}
	.crudTitle {
		color: #fff;
	}
}
